@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color_text-primary: #A61449;
    --color_text-secundary: #aa6908;
    --color_text-tertiary: #485663;
    --main_color-primary: #A61449;
    --main_color-secundary: #f2f2f2;
    --background-color: #FAFBFE;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
}
body {
    margin: 0; /* Asegura que no haya márgenes predeterminados en el cuerpo */
}

header {
    width: 100%; /* Cambiado a 100% del ancho viewport */
    height: 100px;
    transition: background-color 0.3s ease;
    z-index: 100;
    background-color: white; /* Fondo blanco del header */
}

.container__header {
    width: 100%; /* Cambiado a 100% del ancho viewport */
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
footer {
    width: 100%; 
    height: 100px;
    transition: background-color 0.3s ease;
    z-index: 100;
    background-color: white; 
    margin-top: -100px;
}

.container__Footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img,
.image__cover img {
    width: 150px;
    max-width: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu span {
    display: block;
    margin-bottom: 10px;
}

.footer-image-container {
    display: flex;
    align-items: center;
}

.footer-image-container img {
    width: 150px;
    max-width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img{
    width: 150px;
}


.menu{
    display: flex;
    align-items: center;
}

.menu nav{
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    color: var(--color_text-secundary);
    font-size: var(--lowText_font_size);
    position: relative;
}

.menu nav ul li a:hover{
    color: var(--color_text-primary);
}

.btn__quote{
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--main_color-primary);
    border-radius: 8px;
    font-weight: 500;
    color: #aa6908;
    margin: 0px 20px;
    transition: all 300ms;
}

.btn__quote:hover{
    color: white;
    background: var(--main_color-primary);
}

.menu .socialMedia{
    margin: 0px 10px;
}

.menu .socialMedia a{
    margin: 0px 4px;
}

.menu .socialMedia img{
    width: 20px;
}


/*portada de inicio*/

.container__cover{
    padding-top: 1px;
    padding-bottom: 100px;
    background: var(--main_color-secundary);
}

.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text__cover{
    width: 100%;
    padding: 0 20px; /* Ajusta el relleno del texto de la portada */
}

.text__cover h1{
    font-size: 35px;
    color: var(--color_text-primary);
}

.text__cover p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.btn__text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn__text:hover{
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: var(--color_text-primary);
}

.image__cover{
    width: 100%;
    
}

.image__cover img{
    width: 100%;
    max-width: 100%;
}

/* Media Query para dispositivos más pequeños */
@media only screen and (max-width: 768px) {
    header {
        height: 60px; /* Ajusta la altura del encabezado para pantallas más pequeñas */
    }

    .container__header {
        padding: 0px 10px; /* Ajusta el relleno del contenedor del encabezado */
    }

    .text__cover {
        padding: 0 10px; /* Ajusta el relleno del texto de la portada para pantallas más pequeñas */
    }

    .menu span {
        font-size: 14px; /* Ajusta el tamaño del texto del menú para pantallas más pequeñas */
    }
}